{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'TaskMaster/add_edit_pages.css' %}"/>
{% endblock stylesheets %}

{% block body %}

<script type='text/javascript'>
$('input[type="text"]'.addClass('form-control');
$('textarea').addClass('form-control');
</script>

{% if task in Tasks %}
<div class="jumbotron">
    <h1 align="center">Edit Task</h1>
</div>

<div class="col-md-12">
    <form action="" method="post">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block"/>
    </form>
</div>
{% else %}
<div class="jumbotron">
    <h1 align="center">Create New Task</h1>
</div>

<div class="col-md-12">
    <form action="" method="post">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Create New Task" class="btn btn-primary btn-lg btn-block"/>
    </form>
</div>
{% endif %}

<div class="col-md-12" style="padding-top:15px;">
    <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="control" value="cancel"/>
        <input type="submit" value="Cancel" class="btn btn-lg btn-block btn-warning"/>
    </form>
</div>

{% if task in Tasks %}
<div class="col-md-12" style="padding-top:15px;">
    <form action="" method="post">{% csrf_token %}
        <input type="hidden" name="control" value="delete"/>
        <input type="submit" value="Delete" class="btn btn-lg btn-block btn-danger"/>
    </form>
</div>
{% endif %}


{% endblock body %}