{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="jumbotron">
    <h1 align="center">{{project}}</h1>
</div>

<div class="col-md-12">
    {{project.description}}
    
    <h3 class="page-header">Tasks<a href="{% url 'taskmaster_app:add_task' project=project.slug %}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span></a></h3>
    {% if tasks %}
        {% for task in tasks %}
            <h4 class="section-header"><a href="{% url 'taskmaster_app:task_view' project=project.slug task=task.slug %}?id={{task.id}}">{{task.title}}</a></h4>
            {{task.task_instructions|linebreaks}}
                {% if task.resources.all %}Resources: {% endif %}
                {% for resource in task.resources.all %}
                    {{resource}}{% if not forloop.last %} | {% endif %}
                {% endfor %}
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" align="center">
            <h4>This Project doesn't have any Tasks associated with it yet.</h4>
        </div>
    {% endif %}
</div>
<br>
<div class="col-md-12">
    <h3 class="page-header">Assigned Resources</h3>
    {% if resources %}
        {% for resource in resources %}
            <h4 class="section-header"><a href="{% url 'taskmaster_app:resource_view' resource=resource.slug %}?id={{resource.id}}">{{resource.user.first_name}} {{resource.user.last_name}}</a></h4>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" align="center">
            <h4>This Project doesn't have any Resources assigned to it yet.</h4>
        </div>
    {% endif %}
</div>

{% endblock body %}